
<section id="masthead">
<h1>
  <div style="float:right">
    <a href="http://linkedin.com/in/ediril"><img src="files/icons/linkedin.png" class="socicon"></a>
    <a href="http://github.com/ediril"><img src="files/icons/github.png" class="socicon"></a>
    <a href="http://twitter.com/emdiril"><img src="files/icons/twitter.png" class="socicon"></a>
    <!--<a href="http://instagram.com/emrahdiril"><img src="files/icons/instagram.png" class="socicon"></a>
    <a href="http://youtube.com/user/emdiril"><img src="files/icons/youtube.png" class="socicon"></a>-->
  </div>
  <a title="{{ site.title }}" href="{{ site.base_url }}/">{{ site.title }}</a>
</h1>
</section>
