{% extends "base.html" %}
{% block content %}

<article>
  <header>
    <div class="blogparent"><a href="/notes">Articles</a>:</div>
    <h1>{{ post.title }}</h1>
    <small>{{ post.date.strftime("%d %b %Y") }}
    {% if post.tags %} •
      {% for tag in post.tags %}
          <span class="category"><a href="{{ site.base_url }}/tags/{{ tag }}/">{{ tag }}</a></span>
      {% endfor %}
    {% endif %}
    • <span class="meta-item">{{ "{:,.0f}".format(post.wordcount) }} words</span>
    </small>
  </header>
  <br>

  <div>
  {{ content | safe }}
  </div>
</article>

{% endblock %}
